* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;

    background-color: #0C0B26;
    color: #FFFFFF;

    opacity: 0;
    animation: fadeIn 1.5s forwards; /* O "forwards" garante que o estado final permaneça */
    animation-delay: 0.5s; /* Se quiser um atraso antes do efeito começar */
}

/* Animações */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInX {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInX- {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Configurações para diferentes telas */

@media screen and (min-width:1200px) {
    .container {
        max-width: 1200px;
    }

    .textSobre {
        margin-left: 100px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }

    .textSobre {
        margin-left: 100px;
    }
}

@media (min-width:992px) and (max-width:1199px){
    .container {
        width: 950px;
    }

    .textSobre {
        margin-left: 100px;
    }
}

@media (min-width:768px) and (max-width: 991px){
    .container {
        width: 750px;
    }

    *{
        font-size: 12px;
    }

    .welcome {
        margin-top: 2rem;
        flex-direction: column;
    }
    
    .textWelcome .pequenoTexto{
        width: 80%;
    }

    .sobre{
        margin-top: 2rem;
        flex-direction: column-reverse;
    }

    .textSobre {
        width: 100%;
        margin-bottom: 5rem;
    }
}

@media (max-width: 768px) {
    .container {
        width: 750px;
    }

    *{
        font-size: 12px;
    }

    .welcome {
        margin-top: 2rem;
        flex-direction: column;
    }
    
    .pequenoTexto{
        width: 80%;
    }

    .sobre{
        margin-top: 2rem;
        flex-direction: column-reverse;
    }

    .textSobre {
        width: 100%;
        margin-bottom: 3rem;
    }
}

/* Limita o tamanho do conteudo da pagina para melhor responsavidade */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #FF4655;
}

h1, h2, h3 {
    color: #FF4655;
    font-size: 2rem;
}

/* Tira o style padrao da lista */
ul {
    list-style: none;
}

/* Deixa texto em caixa alta */
.uppercase {
    text-transform: uppercase;
}

/* Deixa texto em negrito */
.bold {
    font-weight: bolder;
}

/* Configuração do cabeçalho ( HEADER ) */
header {
    width: 100%;
    padding: 20px 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
}

.header ul {
    display: flex;
    gap: 2rem;

    text-align: center;
    align-items: center;
}
/* Fim da configuração do cabeçalho */

/* Parte principal da pagina ( MAIN ) */

.section_padding {
    padding: 80px 0;
}

/* Section / Div  Welcome */

.welcome {
    display: flex;
    align-items: center;
}


.textWelcome, .text-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.subtituloWelcome {
    font-size: 2.5rem;
}


/* Imagem responsiva */
img {
    max-width: 100%;
    height: auto;
}   

/* Fim da configuração Welcome */
/* Section / Div Sobre */

.sobre {
    display: flex;
    align-items: center;
}

.textSobre {
    width: 100%;    

    opacity: 0; 
    animation: fadeInX 3s forwards; /* O "forwards" garante que o estado final permaneça */
    animation-delay: 0s; /* Se quiser um atraso antes do efeito começar */
}

.sobre img {
    opacity: 0;
    animation: fadeInX- 3s forwards; /* O "forwards" garante que o estado final permaneça */
    animation-delay: 0s; /* Se quiser um atraso antes do efeito começar */
}

/* Fim da configuração Sobre */

/* Parte que mostra informações como idade, telefone, email, linguagens e etc */
.container-info {
    display: flex;
    gap: 4rem;
}

.container-info div ul li{
    padding-bottom: 1rem;
}

/* Section / Div contato e interresesHobbies */
.contato_ih {
    display: flex;
    flex-direction: row;
}

.contato {
    width: 50%;
}

.interesesHobbies {
    width: 50%;
}

/* Fim da configuração contato e interresesHobbies */

/* Roda pé */
.footer {
    height: 5vh;
    margin-top: 30px;
    text-align: center;
}